{% extends "admin/edik_base.html" %}

{% load i18n admin_static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/roster.css' %}" />
{% endblock %}

{% block crumbs %}
&rsaquo;
<a href="{% url 'admin:app_list' 'stores' %}">{% trans 'Stores' %}</a>
&rsaquo;
{% trans 'Roster' %} - {{ store.name }}
{% endblock %}

{% block content %}
<div class="alert alert-dismissible alert-div" role="alert" style="display: none;">
  <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'Close' %}">
    <span aria-hidden="true">&times;</span>
  </button>
  <span data-edik-elem="alert-msg"></span>
</div>
<div class="panel panel-default">
  <div class="panel-heading">{% trans 'Roster' %} - {{ store.name }}</div>
  <table class="table">
    <thead>
      <th>Person</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </thead>
    <tbody>
      {% for person in people %}
      {{ person.get_roster_row|safe }}
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="submit-row">
  <input type="button" value="{% trans 'Save' %}" class="default" data-edik-elem="roster-submit"/>
</div>

{% block content_scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'admin/js/roster.js' %}"></script>
{% endblock %}
{{ block.super }}
{% endblock %}
